.popup__image-large {
    max-width: 64vw;
    max-height: 75vh;
    aspect-ratio: auto;
    object-fit: contain;
  }

  @media screen and (max-width: 620px) {
    .popup__image-large {
      max-width: 75vw;
    }
  }