.profile__button-add {
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #000;
    align-self: center;
    margin-left: auto;
    background-image: url(../../../images/pensil.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 620px) {
    .profile__button-add {
        width: 100%;
        margin: 32px auto 0;
    }   
}